<!-- index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <title>Bruma Sahumerios</title>
   
   <link rel="stylesheet" href="../css/estilo.css">
   <link rel="stylesheet" href="../css/drop.css">
   <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
 
</head>
<body style="background-color: rgb(5, 254, 221);">
   <header id="header">

   </header>


<div class="dropdown">
  <button>Nuestras Marcas</button>
  <div class="dropdown-content">
	<a href="productos1.html?nombre='aromanza">Aromanza</a>
	<a href="productos1.html?nombre='sagrada madre">Sagrada Madre</a>
    <a href="productos1.html?nombre='iluminarte">Iluminarte</a>
    <a href="productos1.html?nombre='bruma">Bruma</a>
    <a href="productos1.html?nombre='satya'">Satya</a>
   
   
  </div>
</div>
<p style="text-align:center">
   <video src="../video/brumavideo.mp4" width="250" height="500" autoplay control muted loop></video>
</p>

<p align="center">Al encender un Sahumerio emprendemos un camino que nos dispone a ser agradecidos y apreciar cada detalle de la vida.
El aquí y ahora, es lo único que tenemos, nuestra posibilidad radica en el presente, ser plenos y dejarnos fluir, aceptando lo que llega y dejando ir lo que se fue.<br><br>
</p>

<footer id="footer">
</footer>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
      <script src="../js/main.js"></script> 
      <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script><!--Link de VUE-->
     


</body>

</html>